* {
    margin: 0;
    padding: 0;
}

body {
    background: url("../images/book-2588514_1920.jpg");
    background-size: cover;
}


/* navbar starting */

.navbar {
    background-color: rgba(128, 128, 128, 0.3);
    margin-bottom: 30px;
}

#nav-img {
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 30px;
    opacity: 0.85;
}

h1 span {
    letter-spacing: 2px;
}

.border-right {
    border-right: 1px solid black;
    margin-top: 7px;
    height: 28px;
}


/* positioning the header */

span h1 {
    position: absolute;
    top: 9px;
    left: 95px;
    font-family: 'Rajdhani', sans-serif;
    font-size: 50px;
    color: purple;
}

li a.nav-link span {
    color: black
}


/*navbar end */


/* form start */

#name-text,
#email-text,
#pass-text,
#button-text {
    width: 100%;
}

div#sign-in {
    padding: 40px;
}

div#random-text h2 {
    /* margin-left: 100px; */
    color: deeppink;
}

section div hr {
    margin-top: 25px;
    margin-bottom: 10px;
}

p a:active,
p a:link,
p a:visited {
    color: deeppink;
    text-decoration: none;
}


/* form end */

div#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(0, 0, 0, 1);
    height: 50px;
    padding-top: 13px;
    color: whitesmoke;
    text-align: center;
}

div#footer span {
    color: red;
    font-size: large;
}


/* media queries start */

@media (max-width: 766px) {
    body {
        /* background: url("../images/maple-leaf-638022_1920.jpg"); */
        background: url("../images/magazine-3680550_1920.jpg");
    }
    div#random-text p,
    div#random-text h1 {
        margin-left: 15px;
    }
}


/* @media (min-width: 767px) and (max-width: 1023px) {} */

@media (min-width: 1024px) {
    div#random-text h2 {
        margin-left: 100px;
    }
}


/* media queries end */